

<div class="tree">
  <ul>
    <% trees.each do |tree| %>

    <% nodes_to_visit = [tree] %>
    <% while !nodes_to_visit.empty? %>
    <% current = nodes_to_visit.shift %>
    <% if current.class == String %>
    <%= current.html_safe %>
    <% next %>
    <% end # if %>

    <li>
      <% if current[:object].parent_id == 0 # 第一层 %>
      <span><i class="fa fa-lg fa-map-marker"></i> <%= current[:name] %></span> 
      <% elsif !current[:members].empty? %>
      <span><i class="fa fa-lg fa-minus-circle"></i> <%= current[:name] %></span>
      <% else %>
      <span> <%= current[:name] %></span>
      <% end %>
      <% if current_user.user_class_id <= 2 %>
      &ndash;
      <button class="btn btn-sm btn-primary" onclick="new_user_group(<%= current[:id] %>, '<%= current[:name] %>');">添加</button>
      <a href='/admin/user_groups/<%= current[:id] %>' rel="nofollow" data-method="delete" class="btn btn-danger btn-sm">删除</a>
      <% end %>
      <% if current[:members].empty? %>
      <% nodes_to_visit.unshift '</li>' %>
      <% else %>

      <ul>
        <% nodes_to_visit.unshift '</li>' %>
        <% nodes_to_visit.unshift '</ul>' %>
        <% current[:members].each do |member| %>
        <% nodes_to_visit.unshift member %>
        <% end %>
        <% end # if %>


        <% end # while %>

        <% end # trees.each %>
      </ul>
    </div>

