<div class="jarviswidget jarviswidget-color-blue" id="wid-tours" data-widget-editbutton="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
    <h2>团队列表</h2>

  </header>


  <div><!-- widget div-->


    <div class="jarviswidget-editbox"><!-- widget edit box --><!-- This area used as dropdown edit box -->


    </div><!-- end widget edit box -->


    <div class="widget-body"><!-- widget content -->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>编号</th>
            <th>航班</th>
            <th>名称</th>
            <th>销售渠道</th>
            <th>创建人</th>
            <th>出发日期</th>
            <th>过期时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% tours.each do |tour| %>
          <tr>
            <td><%= tour.id %></td>
            <td><%= tour.flights %></td>
            <td><%= tour.name %></td>
            <td><%= tour.sale_channel.name%></td>
            <td><%= tour.account.name%></td>
            <td><%= link_to "/admin#" + admin_tour_departures_path(tour) do %>现有<%= tour.departures.count %>个<% end %></td>
            <td>
              <%= tour.expire_date.strftime("%b %d, %Y") %>
              <%= " <em>已过期</em>".html_safe if tour.expire_date < Time.now %>
            </td>
            <td><%= link_to "添加出发日期", "/admin#" + new_admin_tour_departure_path(tour) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>


    </div><!-- end widget content -->


  </div><!-- end widget div -->


</div>