<div class="jarviswidget jarviswidget-color-blue" id="wid-date_and_prices" data-widget-editbutton="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
    <h2><%= departure.tour.name %>【编号: <%= departure.tour.id %>】/ <%= departure.date.strftime("%b %d, %Y") %> 出发的价格列表</h2>

  </header>


  <div><!-- widget div-->


    <div class="jarviswidget-editbox"><!-- widget edit box --><!-- This area used as dropdown edit box -->


    </div><!-- end widget edit box -->


    <div class="widget-body"><!-- widget content -->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>价格</th>
            <th>确认报名</th>
            <th>销售渠道</th>
            <th>价格组</th>
            <th>添加人</th>
            <th>有效期至</th>
            <th>操作</th>
         </tr>
        </thead>
        <tbody>
          <% departure.prices.each do |price| %>
          <tr>
            <td><%= price.price  %></td>
            <td><%= price.confirmed_seats  %></td>
            <td>
              <%= price.sale_channel.name if price.sale_channel.present? %>
            </td>
            <td><%= price.kind %></td>
            <td><%= price.account.name %></td>
            <td>
              <%= price.expire_date.strftime("%b %d, %Y") %>
              <%= " <em>已过期</em>".html_safe if price.expire_date < Time.now %>
            </td>
            <td>
              <%= link_to "修改", "/admin#" + edit_admin_tour_departure_price_path(tour, departure, price) %>
            </td>
          </tr>          
          <% end %>
        </tbody>
      </table>
      <br/>
      <%= link_to "返回出团日期列表", "/admin#" + admin_tour_departures_path(tour), class: "btn btn-warning" %>
      <%= link_to "添加新价格", "/admin#" + new_admin_tour_departure_price_path(tour, departure), class: "btn btn-primary" %>


    </div><!-- end widget content -->
  </div><!-- end widget div -->
</div>



<script type="text/javascript">

</script>