<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div class="container" style="margin: 0 auto; width: 800px">
    <div style="width: 100%">
      <img alt="picture" src="http://http://23.92.27.216/public/images/company_mail_header.jpg" style="100%">
    </div>
    <div class="content" style="100%">
      <p style="margin-left: 20px">亲爱的<%= @account.name %>：</p>
      <p style="margin-left: 20px">
        您已成功预订<%= @booking.date_and_price.departure_date %> <%= @booking.tour.name %>, 预订人数为大人<%= @booking.number_of_adults %>人，小孩<%= @booking.number_of_children %>人.
      </p>
        <br />
        <table border="0" style="margin-left: 60px">
          <tr>
            <td>您注册的微信号为：</td>
            <td><strong><%= @account.wechat_id %></strong></td>
          </tr>
          <tr>
            <td>您注册的手机号为：</td>
            <td><strong><%= @account.wechat_id %></strong></td>
          </tr>
          <tr>
            <td>您注册的邮箱为：</td>
            <td><strong><%= @account.email %></strong></td>
          </tr>
        </table>
      <p style="margin-left: 20px">请登录我们的网站了解更多资讯。</p>
      <p style="margin-left: 20px">谢谢！</p>
    </div>

    <div style="width: 100%; height: 20px; background-color: #dcdddd"></div>
  </div>
</body>
</html>