<%= form_for :account, url: accounts_path, :html => {:role => "form", :class => "form-horizontal"} do |f| %>

<div class="form-group">
  <%= f.label :company_name, '公司名称'%>
  <% if @account.present? && @account.errors[:name] %>
  <% @account.errors[:name].each do |msg| %>
  <%= render inline: "<span class=\"inline_error_message\">#{msg}</span><br/>" %>
  <% end %>
  <% end %>
  <%= f.text_field :company_name, :placeholder => "请填写您的公司/门店名称", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :name, '姓名'%>
  <% if @account.present? && @account.errors[:name] %>
  <% @account.errors[:name].each do |msg| %>
  <%= render inline: "<span class=\"inline_error_message\">#{msg}</span><br/>" %>
  <% end %>
  <% end %>
  <%= f.text_field :name, :placeholder => "请务必填写真实姓名", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :mobile, '手机' %>
  <% if @account.present? && @account.errors[:mobile] %>
  <% @account.errors[:mobile].each do |msg| %>
  <%= render inline: "<span class=\"inline_error_message\">#{msg}</span><br/>" %>
  <% end %>
  <% end %>
  <%= f.text_field :mobile, :placeholder => "11位国内手机号码", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email, '电子邮箱' %>
  <% if @account.present? && @account.errors[:email] %>
  <% @account.errors[:email].each do |msg| %>
  <%= render inline: "<span class=\"inline_error_message\">#{msg}</span><br/>" %>
  <% end %>
  <% end %>
  <%= f.text_field :email, :placeholder => "例如: 12345@qq.com", :type => "email", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :wechat_id, '微信号码' %>
  <% if @account.present? && @account.errors[:wechat_id] %>
  <% @account.errors[:wechat_id].each do |msg| %>
  <%= render inline: "<span class=\"inline_error_message\">#{msg}</span><br/>" %>
  <% end %>
  <% end %>
  <%= f.text_field :wechat_id, :placeholder => "微信号码", :class => "form-control" %>
</div>

<div class="form-group" >
  <%= f.label :gender, '性别' %>
  <% if params[:account].nil? %>
  <%= f.check_box :gender, :checked => true, :class => "switch", :"data-on-label" => "男", :"data-off-label" => "女", :"data-on" => "primary", :"data-off" => "danger", :"data-label-icon" => "glyphicon glyphicon-cog" %>
  <% else %>
  <%= f.check_box :gender, :checked => params[:account][:gender] == "0" ? false : true, :class => "switch", :"data-on-label" => "男", :"data-off-label" => "女", :"data-on" => "primary", :"data-off" => "danger", :"data-label-icon" => "glyphicon glyphicon-cog" %>
  <% end %>
</div>

<!-- <div class="form-group" >
  <%#= f.check_box :is_trade %>
  <%#= f.label :is_trade, '我是旅行社同业(门店，二级经销商等)' %> <p>注意: 同业注册在本公司验证前不能报名！</p>
</div> -->

<div class="form-group">
  <%= f.label :password, '密码' %>
  <% if @account.present? && @account.errors[:password] %>
  <% @account.errors[:password].each do |msg| %>
  <%= render inline: "<span class=\"inline_error_message\">#{msg}</span><br/>" %>
  <% end %>
  <% end %>
  <%= f.password_field :password, :class => "form-control", :placeholder => "至少6位" %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, '确认密码' %>
  <% if @account.present? && @account.errors[:password_confirmation] %>
  <% @account.errors[:password_confirmation].each do |msg| %>
  <%= render inline: "<span class=\"inline_error_message\">#{msg}</span><br/>" %>
  <% end %>
  <% end %>
  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "重复密码" %>
</div>

<div class="form-group">
  <%= f.submit "注册", :class => "btn btn-default btn-success full_width" %>
</div>
<% end %>
