<% content_for :javascripts do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<% end %>

<% content_for :left_links do %>
<% render "front30/left_links" %>
<% end %>

<div class="container">
  <div id="booking_list">
    <div class="booking_list_head">
      <h2>我的众信</h2>
    </div>
    
    <% if @bookings.nil? || @bookings.empty? %>
    
    <div class="alert alert-warning">
      <h4><i class="fa fa-exclamation-triangle"></i> 您还没有订单！</h4>
    </div>
    
    <% else %>

    <% @tours.each do |tour| %>
    <%# 标题 %>
    <table data-toggle="collapse" data-target="#<%= tour.object_id %>">
      <tr>
        <td>
          <% if tour.cover_img.nil? %>
          <%= image_tag "default_tour_icon.png", class: "tour_icon" %>
          <% else %>
          <%= image_tag tour.cover_img.photo.url(:thumb), class: "tour_icon" %>
          <% end %>
        </td>
        <td class="tour_title">
          <h4><%= tour.name %><br/><small>
            <%= tour.bookings.where("bookings.agent_id = ?", current_user.id ).select("departures.id").uniq.count %>个出发日期 - 
            <%= tour.bookings.where("bookings.agent_id = ?", current_user.id ).count %>个预订
          </small></h4>

        </td>
      </tr>
    </table>

    <%# 预订内容 %>
    <div id="<%= tour.object_id %>" class="booking_control_div collapse">
    
    <% @bookings.each do |booking| %>
    <% if booking.price.departure.tour.id == tour.id %>
      
      <div class="booking_detail row">
        <div class="col-xs-4">
          <%= link_to "#{booking.price.departure.date.strftime("%Y-%m-%d")}", "javascript:void(0)", class: "booking_label btn btn-sm btn-default" %>
        </div>
        
        <div class="col-xs-3">
          <% if booking.price.departure.visa_status == "未送签" %>
          <%= link_to "未送签", "", class: "booking_label btn btn-sm btn-warning", disabled: true %>
          <% elsif booking.price.departure.visa_status == "已送签" %>
          <%= link_to "已送签", "", class: "booking_label btn btn-sm btn-warning", disabled: true %>
          <% elsif booking.price.departure.visa_status == "正常出签" %>
          <%= link_to "正常出签", "", style: "padding-left:2px;padding-right:2px;text-align:center", class: "booking_label btn btn-sm btn-success", disabled: true %>
          <% elsif booking.price.departure.visa_status == "异常出签" %>
          <%= link_to "异常出签", "", style: "padding-left:2px;padding-right:2px;text-align:center", class: "booking_label btn btn-sm btn-danger", disabled: true %>
          <% else %>
          <%= link_to "#{booking.price.departure.visa_status}","javascript:void(0)", class: "booking_label btn btn-sm btn-warning" %>
          <% end %>
        </div>
        
        <div class="col-xs-2">
          <%= link_to "查看", "javascript:void(0)", class: "booking_label btn btn-sm btn-info", style: "padding-left:2px;padding-right:2px;text-align:center",onclick: "$('##{booking.id}_modal').modal('show')" %>
        </div>
        
        <div class="col-xs-3">
          <% if booking.progress == "未处理" %>
          <%= link_to "取消", booking_path(booking), method: "delete", data: { confirm: "确定删除订单吗?"}, class: "booking_label btn btn-sm btn-primary" %>
          <% else %>
          <%= link_to booking.progress, nil, class: "booking_label btn btn-sm btn-primary", disabled: true %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
    <% end # tour loop %>
    <% end # end if %>
 

  <% if @bookings.present? %>
  <% @bookings.each do |booking| %>
  <!-- Modal -->
  <div class="modal fade" id="<%= booking.id %>_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal_label" style="text-align: center">订单信息</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>订单号</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"># <%= booking.id %></div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>提交日期</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.created_at.strftime("%Y-%m-%d") %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>团队编号</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.price.departure.tour.id %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>团队名称</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.price.departure.tour.name %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>出发日期</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.price.departure.date.strftime("%Y-%m-%d") %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>参考价格</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <span class="label label-primary"><i class="fa fa-rmb"></i> <%= booking.price.price %>/人</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>申请人数</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <%= booking.number_of_adults %>大人 + <%= booking.number_of_children %>小孩
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>备注</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <% if booking.comment.present? && !booking.comment.blank? %>
              <%= booking.comment %>
              <% else %>
              <em>无备注</em>
              <% end %>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>订单状态</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <%= booking.progress %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>回复</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <% if booking.response.present? && !booking.response.blank? %>
              <span style="color: red"><%= booking.response %></span>
              <% else %>
              <em>暂无回复</em>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>出团通知</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <% if booking.price.departure.group_notice.url  != "missing" %>
              <%= link_to "点击查看出团通知书", booking.price.departure.group_notice.url %>
              <% elsif !booking.price.departure.erp_group_notice_url.blank? %>
              <%= link_to "点击查看出团通知书", "#{booking.price.departure.erp_group_notice_url}" %>
              <% else %>
              <em>尚未发布</em>
              <% end %>
            </div>
          </div>          


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">了解</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <% end %>
  <% end %>

  <div style="margin: 30px auto 10px auto; text-align: center"><%= link_to "返回主页", root_path, class: "btn btn-sm btn-default" %></div>
  
</div>


