<div class="container lion">
  <div id="booking_list">
    <div class="booking_list_head">
      <h2>我的订单</h2>
    </div>
    <% if @bookings.nil? || @bookings.empty? %>
    <div class="alert alert-warning">
      <h4>没有订单</h4>
    </div>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>单号</th>
          <th>出发日期</th>
          <th>团对名称</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bookings.each do |booking| %>
        <% date_and_price = DateAndPrice.find_by_id(booking.date_and_price_id) %>
        <% tour = Tour.find_by_id(date_and_price.tour_id) %>
        <tr>
          <td><%= booking.id %></td>
          <td><%= date_and_price.departure_date.strftime("%m/%d/%y") %></td>
          <td><%= link_to trim_name(tour.name), 'javascript:void(0)', onclick: "$('##{booking.id}_modal').modal('show')" %></td>
          <td>
            <%= link_to "取消", booking_path(booking), method: "delete", data: { confirm: "确定删除订单吗?"}, class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>

  <% @bookings.each do |booking| %>
  <!-- Modal -->
  <div class="modal fade" id="<%= booking.id %>_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal_label" style="text-align: center">订单信息</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>订单号</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"># <%= booking.id %></div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>提交日期</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.created_at.strftime("%m/%d/%Y") %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>团队编号</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.date_and_price.tour.id %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>团队名称</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.date_and_price.tour.name %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>出发日期</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><%= booking.date_and_price.departure_date.strftime("%m/%d/%Y") %></div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>预计价格</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <% if inspect_right(booking.date_and_price.tour) == :trade %>
              <span class="label label-danger">同行 <i class="fa fa-rmb"></i><%= booking.date_and_price.retail_price %>/人</span><br/>
              <span class="label label-primary">直客 <i class="fa fa-rmb"></i><%= booking.date_and_price.trade_price %>/人</span>              
              <% else %>
              <span class="label label-primary"><i class="fa fa-rmb"></i><%= booking.date_and_price.retail_price %>/人</span>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right"><strong>备注</strong></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <% if booking.comment.present? %>
              <em><%= booking.comment %></em>
              <% else %>
              无
              <% end %>
            </div>
          </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">了解</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>

    <%= link_to "返回主页", root_path, class: "btn btn-sm btn-default" %>
  </div>


