

<div class=""></div>
<p>
  <strong>Departure date:</strong>
  <%= @booking.date_and_price.departure_date %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @booking.number_of_people %>
</p>

<p>
  <strong>Package:</strong>
  <%= @booking.package_id %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @booking.tour_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
<td><%= booking.number_of_adults %> + <%= booking.number_of_children %></td>
<td>
          <% if inspect_right(tour) == :trade %>
            <%= date_and_price.retail_price %>
          <% else %>
            <%= date_and_price.retail_price %> <span class="label label-primary">同行</span><br />
            <%= date_and_price.trade_price %><span class="label label-warning">直客</span>
          <% end %>
        </td>