<% content_for :javascripts do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<%= javascript_include_tag "/javascripts/isotope.pkgd.min", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :nav_bar do %>
<%= render "layouts/lion_nav" %>
<% end %>

<% content_for :left_links do %>
<% render "left_links" %>
<% end %>


<div class="tour_list container" style="max-width: 600px">
  <div class="container" style="position: fixed; bottom: 10px; left: 10px; z-index: 104400; background-color: #eee; border-style: solid; border-color: red;max-width: 400px">
    <div class="panel_head" style="text-align: center; background-color: #eff4ff">
      <a data-toggle="collapse" data-target="#panel_content" style="color: #603cba">点击查看</a>
    </div>
    <div id="panel_content" class="collapse container" style="background-color: #eff4ff">
      <h4 style="color: #000">选择出发日期（可多选）</h4>
      

      <h4 style="color: #000">选择目的地</h4>
      <div id="filters">
        <a href="#" class="btn btn-default active" data-filter="*">全部</a>
        <a href="#" class="btn btn-primary active" data-filter=".metal">美洲</a>
        <a href="#" class="btn btn-primary active" data-filter=".metal">澳新</a>
        <a href="#" class="btn btn-primary active" data-filter=".metal">欧洲</a>
        <a href="#" class="btn btn-primary active" data-filter=".metal">中东非</a>
        <a href="#" class="btn btn-danger active" data-filter=".transition">东南亚</a>
        <a href="#" class="btn btn-success active" data-filter=".alkali, .alkaline-earth">东北亚</a>
        <a href="#" class="btn btn-success active" data-filter=".alkali, .alkaline-earth">游轮</a>
        <a href="#" class="btn btn-info active" data-filter=".metal:not(.transition)">其他</a>

      </div>
    </div>
  </div>


  <div id="routes">
    <div class="route transition metal">
      <% @tours.each do |tour| %>
      <% next if !tour.tour_type.include? "非洲" %>

      <div class="list-group-item" style="color: #222; border-left:30px soild #ff0000;">
        <div class="row">
          <div class="col-xs-9 col-sm-9 col-md-10" style="padding:5px">
            <h5 class="list-group-item-heading">
              <%= tour.name %><br/>
              <small><%= trim_name(tour.description, 30) %></small>
            </h5>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-2" style="padding:5px">
            <%= link_to "行程", "/tours/#{tour.id}", {class: "btn btn-warning btn-sm", style: "width: 100%; margin-bottom: 2px; color: white; padding: 5px 2px"} %>
            <button class="btn btn-info btn-sm" data-toggle="collapse" data-target="#<%= tour.object_id %>" style="width:100%;color: white; padding: 5px 2px">预订</button>

          </div>
        </div>
      </div>

      <div id="<%= tour.object_id %>" class="panel panel-default collapse" style="padding: 5px; margin-bottom: 0; background-color: #fff; color: #000">
        <div class="container" style="padding: 0 5px"><%# filtered by sale channel %>
          <% departures = tour.departures %>

          <%# 除去过期的日期 %>
          <% departures = departures.select { |departure| departure.expire_date > Time.now } %> 

          <% array = [] %>
          <% departures.each do |departure| %>

          <% if departure.sale_channel_id == current_user.sale_channel_id || SaleChannelMap.where(up: departure.sale_channel_id, down: current_user.sale_channel_id).count > 0 %>
          <% array.push departure %>
          <% end # end if %>

          <% end # end each %>
          <% departures = array %>

          <% if departures.empty? %>
          <p style="text-align: center; color: red"><em>出团日期和价格敬请期待...</em></p>
          <% else # end if %>

          <% departures.each_with_index do |departure, i| %>
          <% prices = departure.prices %>

          <%# 除去过期的价格 %>
          <% prices = prices.select { |price| price.expire_date > Time.now } %>

          <% array = [] %>
          <% prices.each do |price| %>

          <% if price.sale_channel_id == current_user.sale_channel_id || SaleChannelMap.where(up: price.sale_channel_id, down: current_user.sale_channel_id).count > 0 %>
          <% array.push price %>
          <% end # end if %>

          <% end # end price each %>
          <% prices = array %>

          <% if !prices.empty? %>

          <% price = prices.first %>
          <% prices.each do |p| %>
          <% if SaleChannelMap.where(up: price.sale_channel_id, down: p.sale_channel_id).count > 0 %>
          <% price = p %>
          <% end # price if %>
          <% end # if %>
          <div class="row" <%= 'style="background: #f8f8f8"'.html_safe if i % 2 == 0 %>>
            <div class="col-xs-5">
              <h5><small>同行 </small><span class="color: blue">19800</span> <small>元</small></h5>
              <h5><small>会员 </small><span class="color: blue"><%= price.price %></span> <small>元</small></h5>
            </div>
            <div class="col-xs-7" style="text-align: right">
              <h5><%= chinese_date(departure.date) %> <small>上海出发</small></h5>
              <a class="btn btn-primary btn-sm">报名(空位>9)</a>
            </div>
          </div>

          <% end # prices each %>


          <% end # departure each %>




          <% end %>
        </div>

      </div>

      <% end %>

    </div>
    
  </div>

  

  



</div>



<script type="text/javascript">
jQuery(document).ready(function() {
  var $routes = $('#routes');
  $routes.isotope({
    itemSelector : '.route',
    layoutMode : 'vertical'
  });

  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $routes.isotope({ filter: selector });
    return false;
  });



});

</script>