<% content_for :javascripts do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<% end %>

<% content_for :nav_bar do %>
<%= render "layouts/lion_nav" %>
<% end %>

<% content_for :left_links do %>
<% render "left_links" %>
<% end %>

<% cwheel = ["lblue", "green", "purple", "red", "yellow"] %>
<!-- Inner Page Content // Start -->

<div class="inner-page">
  <div class="container">

    <div class="page-mainbar landing">
      <!-- Landing Content -->
      <div class="landing-content">
        <!-- Landing Hero -->
        <div class="landing-logo">
          <!-- Logo Icon -->
          <%= image_tag "logoabout.png", style: "width: 200px; margin: 10px auto" %>
        </div>
      </div>
    </div>
    <!-- Main-bar Column -->

    <div class="page-mainbar faq">
      <!-- Heading -->
      <h3>团队游路线路线查询</h3>
      <!-- FAQ Page Content -->
      <div class="faq-content">
        <!-- Collapse Item -->

        <% # MAIN MENU %>
        <% if !@root["members"].empty? %>
        <div class="panel-group" id="accordion">


          <% @root["members"].each_with_index do |one, i| # 第一层开始 %>
          <% @set.push one["name"] %>
          <div class="panel panel-default">
            <div class="panel-heading br-<%= cwheel[i % cwheel.size] %>">
              <h4 class="panel-title">
                <!-- Faq title -->
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= one.object_id %>">
                  <h5><i class="fa fa-angle-right"></i>&nbsp; <%= one["name"] %></h5>
                </a>
              </h4>
            </div>
            <div id="<%= one.object_id %>" class="panel-collapse collapse">
              <!-- faq details -->
              <div class="panel-body br-<%= cwheel[i % cwheel.size] %>">



                <% if !one["members"].empty? # 如果还有第二层则显示第二层团队 %>
                <div id="<%= one["members"].object_id %>" class="panel-group">

                  <% one["members"].each do |two| # 第二层开始 %>
                  <% @set.push two["name"] %>
                  <div class="panel panel-default">
                    <div class="panel-heading br-<%= cwheel[(i+2) % cwheel.size] %>">
                      <h5 class="panel-title" style="padding: 0">
                        <!-- Faq title -->
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#<%= one["members"].object_id %>" href="#<%= two.object_id %>">
                          <h5><i class="fa fa-angle-right"></i>&nbsp; <%= two["name"] %></h5>
                        </a>
                      </h5>
                    </div>
                    <div id="<%= two.object_id %>" class="panel-collapse collapse">
                      <div class="panel-body br-<%= cwheel[(i+2) % cwheel.size] %> menu_body_2" style="padding: 0; color: #222">
                        <%# 除去不符合标签的团队 %>
                        <% tours = @tours.select { |tour| (@set & tour.tour_type.split) == @set } %>

                        <%# 除去过期的团队 !!! filter moved to controller level !!! %>
                        <%# tours = tours.select { |tour| tour.expire_date > Time.now } %>                    

                        <%# 除去没有权限查看的团队 %>
                        <% array = [] %>
                        <% tours.each do |tour| %>

                        <% if tour.sale_channel_id == current_user.sale_channel_id || SaleChannelMap.where(up: tour.sale_channel_id, down: current_user.sale_channel_id).count > 0 %>

                        <%# puts ">> #{tour.name} >> #{tour.sale_channel_id} >>>>>>>>>>>> #{current_user.sale_channel_id} >>>>>>>>> OK" %>
                        <% array.push tour %>
                        <% end # end if %>

                        <% end # end each %>
                        <% tours = array %>


                        <% if !tours.empty? %>
                        <%= render partial: 'tour_list', locals: { tours: tours } %>
                        <% else %>
                        <div class="panel panel-default" style="padding: 15px; color: #fff">
                          暂无
                        </div>
                        
                        <% end %>

                      </div>
                    </div>
                  </div>
                  <% @set.pop %>          
                  <% end # 第二层结束 %>

                </div>
                <% else  # 没有第二层则显示第一层团队%>
                <% tours = @tours.select { |tour| (@set & tour.tour_type.split) == @set } %>
                <% if !tours.empty? %>
                <%= render partial: 'tour_list', locals: { tours: tours } %>
                <% else # 无内容 %>
                暂无
                <% end %>

                <% end %>




              </div>
            </div>
          </div>
          <% @set.pop %>
          <% end # 第一层结束 %>

        </div>
        <% else %>
        <h3>本业没有内容</h3>
        <% end %>


      </div>
    </div>


  </div>
</div>

<!-- Inner Page Content // End -->