<% content_for :head do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<%= javascript_include_tag "/javascripts/jquery.isotope.min", media: "all", "data-turbolinks-track" => true %>

<%#= javascript_include_tag "/javascripts/jquery.mobile-1.4.2.min", media: "all", "data-turbolinks-track" => true %>


<%#= stylesheet_link_tag "/stylesheets/jqm-datebox-1.1.0", media: "all", "data-turbolinks-track" => true %>
<%#= javascript_include_tag "/javascripts/jqm-datebox-1.1.0.core", media: "all", "data-turbolinks-track" => true %>
<%#= javascript_include_tag "/javascripts/jqm-datebox-1.1.0.mode.datebox", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "/javascripts/bootstrap-datepicker", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "/stylesheets/datepicker3", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "/javascripts/bootstrap-datepicker.zh-CN", media: "all", "data-turbolinks-track" => true %>

<% end %>

<% content_for :nav_bar do %>
<%= render "layouts/lion_nav" %>
<% end %>

<% content_for :left_links do %>
<% render "left_links" %>
<% end %>

<% content_for :right_sidebar do %>
<%= render "right_sidebar" %>
<% end %>

<% cwheel = ['#f55233', '#fa791b', '#fbd72f', '#9fd05d', '#4ab35a', '#4fbdd6', '#c949a8'] %>
<div class="container" style="max-width: 600px">



  <h3 class="text-center" style="line-height: 40px;);">点击右上 <i class="fa fa-bars"></i> 查询</h3>
  <% if @tours.empty? %>
  <h4 class="text-center"><i class="fa fa-exclamation-triangle"></i> 抱歉, 没有可显示的行程!</h4>
  <% end %>
  <div id="routes">
    <% @tours.each_with_index do |tour, t| %>
    <div class="route <%= tour.isotope_tags %>" style="width: 100%">

      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: <%= cwheel[t % cwheel.size] %>">
          <h4 class="panel-title">
            <div class="row">
              <div class="col-xs-9">
                <h4 style="color: #fff; "><%= tour.name %></h4>
              </div>
              <div class="col-xs-3">
                <%= link_to "行程", "/tours/#{tour.id}", {class: "btn btn-warning btn-sm", style: "width: 100%; margin-bottom: 2px; color: white; padding: 5px 2px"} %>
                <%= link_to "日期", "##{tour.object_id}", {class: "btn btn-sm btn-info toggle-departure", "data-toggle" => "collapse", style: "width: 100%; margin-bottom: 2px; color: white; padding: 5px 2px"} %>
              </div>
            </div>
            <a class="accordion-toggle" href="#">

            </a>
          </h4>
        </div>

        <div id="<%= tour.object_id %>" class="panel-collapse collapse">
          <div class="panel-body " style="background-color: #eff4ff; color: #000; border-left:5px solid <%= cwheel[t % cwheel.size] %>; padding: 0px 10px">


            <%# filtered by sale channel %>
            <% departures = tour.departures %>
            
            <%# 除去过期的日期 %>
            <% departures = departures.select { |departure| departure.expire_date > Time.now } %> 
            <%# 出去权限以外的日期 %>
            <% departures = departures.select { |departure| departure.sale_channel_id == @sale_channel_id || SaleChannelMap.where(up_id: departure.sale_channel_id, down_id: @sale_channel_id).count > 0 } if @sale_channel_id.present? %>
            
            
            <% if departures.empty? %>
            <p style="text-align: center; color: red"><em>出团日期和价格敬请期待...</em></p>
            <% else # end if %>

            <% departures.each_with_index do |departure, d| %>
            <%# prices = departure.prices %>
            <%# 除去过期的价格 %>
            <%# prices = prices.select { |price| price.expire_date > Time.now } %> 
            <%# 出去权限以外的价格 %>
            <%# prices = prices.select { |price| price.sale_channel_id == @sale_channel_id || SaleChannelMap.where(up: price.sale_channel_id, down: @sale_channel_id).count > 0 }  %>
            <% retail_offer = departure.final_price("直客", @sale_channel_id) %>
            <% puts "" %>
            <% trade_offer = departure.final_price("同业", @sale_channel_id) %>
            <% special_offer = departure.final_price("渠道", @sale_channel_id) %>
            <% booking_offer = retail_offer %>
            <% booking_offer = trade_offer if trade_offer.present? %>
            <% booking_offer = special_offer if special_offer.present? %>
            <% next if booking_offer.nil? %>
            <div data-departure="<%= departure.date.strftime("%Y%m%d") %>" class="departure" style="width: 100%; clear:both;">
              <h4 style="float: right; margin-top:0"><%= chinese_date(departure.date) %> <small><span class="text-danger"><%= GLOBAL["departure_city"]%></span>出发</small></h4>
              
              <% if retail_offer.present? %>
              <h3 style="width: 50%"><small>微信</small> <strong class="text-primary" style="<%= "text-decoration:line-through" if retail_offer != booking_offer %>"><%= retail_offer.price %></strong> <small>元</small></h3>
              <% end %>
              <% if trade_offer.present? %>
              <h3 style="width: 50%"><small>同业</small> <strong class="text-primary" style="<%= "text-decoration:line-through" if trade_offer != booking_offer %>"><%= trade_offer.price %></strong> <small>元</small></h3>
              <% end %>
              
              <% if special_offer.present? %>  
              <h3 style="width: 50%"><small>会员</small> <strong class="text-danger"><%= special_offer.price %></strong> <small>元</small></h3>
              <% end %>
              
              <h4 style="text-align: right; clear: right">
                <% if booking_offer.present? && current_user.nil? %>
                  <%= link_to "登录", new_session_path, class: "btn btn-primary btn-lg" %>
                  <%= link_to "注册+报名", new_booking_path(price_id: booking_offer.id), class: "btn btn-warning btn-lg" %>
                <% else booking_offer.present? %>
                  <button class="btn btn-primary btn-lg" onclick="new_booking('<%= booking_offer.id %>', '<%= departure.date %>', '<%= tour.name %>', '<%= booking_offer.price %>', '');">报名: <i class="fa fa-check"></i> (空位>9 )</button>
                <% end %>
              </h4>
              <% unless d == departures.size - 1 %>
              <hr style="margin:0; border: 0 none; border-top: 2px dashed #322f32; background: none; height:0;">
              <% end %>
            </div>

            <% end # departure %>
            
            <% end # tour %>
            <p class="text-center"><%= link_to "- 收起 -", "##{tour.object_id}", {class: "", "data-toggle" => "collapse", style: "color: #222"} %></p>
          </div>
        </div>

      </div>        
      





    </div>








    <% end %>


  </div>

  <p class="text-center">- <%= Date.today %> -</p>

</div>



<% content_for :modal do %>
<!-- Modal -->
<div class="modal fade" id="booking_modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="modal-1" style="text-align: center">
          <span id="booking_name"></span><br />
          <span>出发日期:</span> <span id="booking_date" class="text-danger"></span><br />
          <span>价格:</span> <small id="booking_price_kind"></small> <span id="booking_price" class="text-danger"></span> <small>元/人</small>
        </h4>
      </div>
      <div class="modal-body no-padding">


        <div class="alert alert-warning info_text">
          <p class=""><strong>注意: </strong>以下填写人数均为申请数, 最终报入人数需向销售确认！</p>
        </div>

        <%= form_for @booking, remote: true, :authenticity_token => true, :html => {:role => "form", :class => "form-horizontal", :id => "booking_form"} do |f| %>
        <div class="form-group" style="display: none">
          <%= f.label :price_id, '订单编号', :class => "col-xs-3 col-sm-3 control-label" %>

          <div class="col-xs-9 col-sm-8">
            <%= f.text_field :price_id, :class => "form-control", :id => "price_id", :readonly => true %>
          </div>
        </div>

        <% if @sales.size > 0 %>
        <div class="form-group">
          <%= f.label :sale_id, '对口销售', :class => "col-xs-3 col-sm-3 control-label" %>

          <div class="col-xs-9 col-sm-8">
            <%= f.collection_select(:sale_id,  @sales, :id, :name, {}, { :class => 'form-control'}) %>
          </div>
        </div>
        <% end %>


        <div class="form-group">
          <%= f.label :number_of_adults, '成人数', :class => "col-xs-3 col-sm-3 control-label" %>

          <div class="col-xs-9 col-sm-8">
            <%= f.number_field :number_of_adults, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :number_of_children, '儿童数', :class => "col-xs-3 col-sm-3 control-label" %>

          <div class="col-xs-9 col-sm-8">
            <%= f.number_field :number_of_children, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :comment, '备注', :class => "col-xs-3 col-sm-3 control-label" %>

          <div class="col-xs-9 col-sm-8">
            <%= f.text_area :comment, :class => "form-control", rows: 5, placeholder: "可注明住宿等注意事项" %>
          </div>
        </div>

        <div class="form-group">
          <div id="booking_errors" class="text-danger col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-3"></div>
        </div>
        

        <div class="form-group">
          <div class="col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-3">
            <%= f.submit "提交订单", :id => "submit_button", :class => "btn btn-default btn-success full_width", data: {disable_with: "提交中..."} %>
          </div>
        </div>

        <% end %>







      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>


<% content_for :javascripts do %>

<script type="text/javascript">

function new_booking(id, departure_date, tour_name, booking_price, booking_price_kind){
  $('#booking_modal').modal('show');
  $('#booking_name').text(tour_name);
  $('#booking_date').text(departure_date);
  $('#price_id').val(id);
  $('#booking_errors').empty();
  $('#booking_price_kind').text(booking_price_kind);
  $('#booking_price').text(booking_price);
}

function filter_dates(){
  var start_date = $('#date_start').val();
  var end_date = $('#date_end').val();
  var start_int = 0;
  var end_int = 99990000;
  var m = '';
  if (start_date.length){
    m = /([0-9]{4}).+([0-9]{2}).+([0-9]{2})/.exec(start_date);
    start_int = parseInt(m[1]+m[2]+m[3]);
  } 
  if (end_date.length){
    m = /([0-9]{4}).+([0-9]{2}).+([0-9]{2})/.exec(end_date);
    end_int = parseInt(m[1]+m[2]+m[3]);
  }

  $('.departure').each(function(){
    var departure_int = parseInt($(this).data('departure'));
    if ( departure_int < start_int || departure_int > end_int ){
      $(this).hide();
    }
    else{
      $(this).show();
    }
  });
  $('#routes').isotope('reLayout');
}

jQuery(document).ready(function() {

  var $routes = $('#routes');



  $routes.isotope({
    itemSelector : '.route',
    layoutMode : 'straightDown'
  });

  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $routes.isotope({ filter: selector });
    return false;
  });

  $("#dest_picker").click(function(){
    var id = $(this).attr("data-id");
    $('#'+id).slideToggle(300);
    return false;
  });

  $('.panel-collapse').on('shown.bs.collapse', function () {
    $routes.isotope('reLayout');
  });

  $('.panel-collapse').on('hidden.bs.collapse', function () {
    $routes.isotope('reLayout');
  });

  $('.dateselect').datepicker({
    language: 'zh-CN'
  });

  $('#date_start').on('changeDate', function(e){
    filter_dates();
  });

  $('#date_end').on('changeDate', function(e){
    filter_dates();
  });

  $('#booking_form').bind("ajax:beforeSend", function(evt, xhr, settings){
      //$('#submit_button').attr('disabled',"true");

    });

  if( navigator.userAgent.match(/iPhone|iPad|iPod/i) ) {

    $('.modal').on('show.bs.modal', function() {

        // Position modal absolute and bump it down to the scrollPosition
        $(this)
            .css({
                position: 'absolute',
                marginTop: $(window).scrollTop() + 'px',
                bottom: 'auto'
            });

        // Position backdrop absolute and make it span the entire page
        //
        // Also dirty, but we need to tap into the backdrop after Boostrap 
        // positions it but before transitions finish.
        //
        setTimeout( function() {
            $('.modal-backdrop').css({
                position: 'absolute', 
                top: 0, 
                left: 0,
                width: '100%',
                height: Math.max(
                    document.body.scrollHeight, document.documentElement.scrollHeight,
                    document.body.offsetHeight, document.documentElement.offsetHeight,
                    document.body.clientHeight, document.documentElement.clientHeight
                ) + 'px'
            });
        }, 0);

    });

  }
});



</script>
<% end %>