<div class="row">
	<div class="col-xs-4">
		<%= image_tag activities[0].image.photo.url(:thumb), style: "width: 100%" %>
	</div>
  <div class="col-xs-4">
    <%= image_tag activities[1].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
  <div class="col-xs-4">
    <%= image_tag activities[2].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
</div>
<div class="row">
	<div class="col-xs-4">
    <%= image_tag activities[3].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
	<div class="col-xs-4">
		<%= image_tag activities[4].image.photo.url(:thumb), style: "width: 100%" %>
	</div>
  <div class="col-xs-4">
    <%= image_tag activities[5].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <%= image_tag activities[6].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
  <div class="col-xs-4">
    <%= image_tag activities[7].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
  <div class="col-xs-4">
    <%= image_tag activities[8].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
</div>