<% content_for :javascripts do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<% end %>
      
      <!-- Inner Page Content // Start -->
      
      <div class="inner-page">
        <div class="container">
          <div class="page-mainbar landing">
            <!-- Landing Content -->
            <div class="landing-content">
              <!-- Landing Hero -->
              <div class="landing-logo" style="width: 100%; margin-top:0">
                <!-- Logo Icon - removed -->
                <!-- Image -->
                <%= image_tag @cover_img, class: "img-responsive" %>
                <br/>
                <h3><%= @tour.name %></h3>
              </div>

              <!-- Button Links -->
              <div class="landing-button">
                <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-download"></i> 下载行程</a> &nbsp;
                <a href="#" class="btn btn-info btn-lg"><i class="fa fa-cloud"></i> 返回报名</a>
              </div>

              <!-- Landing Content Item -->
              <% colors = ['red', 'green', 'lblue', 'purple', 'yellow', 'pink'] %>
              <% boot_colors = ['danger', 'primary', 'warning', 'success', 'info'] %>
              <% icons = ['fi6', 'fi7', 'fi8', 'fi9', 'fi10', 'fi11', 'fi12'] %>
              <% @features.each_with_index do |feature, i| %>
              <%# feature.text =~ /\A.([^\s,\:,，：]+).(.+\z)/ %>

                <% if i % 3 == 0 %>
                  <div class="row">


                <% end %>
                  <div class="col-md-4 col-sm-4">
                    <!-- Landing Item -->
                    <div class="landing-item br-<%= colors[i%6] %>">
                      <!-- Icon -->
                      <img src="/img/flat-icon/<%= icons[i%6] %>.png" class="img-responsive visible-md" alt="" />
                      <!-- Heading -->
                      <!-- <h4></h4> -->
                      <!-- Paragraph -->
                      <h4 style="text-align: left"><%= feature.text %></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>


                <% if i % 3 == 2 || i == @features.size - 1 %>

                  </div>
                <% end %>                

              <% end %>
              
             
            </div>
          </div>

          <!-- Main-bar Column -->
            <div class="col-md-12">
              <div class="page-mainbar blog">
                <!-- Heading -->

                

                <h3 style="margin-top: 35px">每日行程</h3>

                <!-- Blog Page Content -->
                <div class="blog-content">
                  <div class="row">
                    <div class="col-md-8 col-sm-8">

                      <!-- The new post done by user's all in the post block -->
                      <div class="blog-post">
                        <% @itineraries.each_with_index do |itinerary, i| %>
                        <% photos = itinerary["photoinfo"].split("\|").compact %>
                        <!-- Entry is the one post for each user -->
                        <div class="entry">
                          <% if !photos.empty? %>
                          
                          <% if @images.size > 0 %> <%# 改用大图 %>
                          <%= image_tag @images[i % @images.size].text, class: "img-responsive", style: "margin-bottom: 20px; width: 100%"%>
                          <% else %>
                          <%= image_tag photos.sample, class: "img-responsive", style: "margin-bottom: 20px; width: 100%"%>
                          <% end %>
                          <% end %>
                          <!-- Meta for this block -->
                          <div class="meta br-green">
                            <!-- Date -->
                            <div class="post-date"><span>第<%= itinerary["day"] %>天</span><%= itinerary["accommodation"] %></div>
                            <!-- Post Information -->
                            <div class="meta-info"><i style="font-style: normal">早</i> <span><%= itinerary["breakfast"].blank? ? "请自理" : itinerary["breakfast"] %></span></div>
                            <div class="meta-info"><i style="font-style: normal">中</i> <span><%= itinerary["lunch"].blank? ? "请自理" : itinerary["lunch"] %></span></div>
                            <div class="meta-info"><i style="font-style: normal">晚</i> <span><%= itinerary["dinner"].blank? ? "请自理" : itinerary["dinner"] %></span></div>
                          </div>
                          
                          <!-- Heading of the  post -->
                          <h4><a href="blog-single.html"><%= itinerary["title"] %></a></h4>
                          <!-- Para -->
                          <p class="grey"><%= @trips[i].xpath('./content').text %></p>
                          <% itinerary.children.select{|e| e.cdata?}.each do |des| %>
                          <p class="grey"><%#= des.text.html_safe %></p>
                          <% break # !!! removed extra description %>
                          <% end %>
                          <div class="clearfix"></div>
                        </div>
                        <% end %>
                      </div>
                      
                      
                      <div class="clearfix"></div>
                      <!-- Blog post End -->

                    </div>



                    <div class="col-md-4 col-sm-4">
                      <div class="blog-sidebar">
                        <!-- Sidebar widget -->
                        <!-- First -->
                        
                        <!-- Second -->
                        <% pkg_incls = @tour.include.split(/[；;]\s*\d+\.?、?/).compact %>
                        <% if !pkg_incls.empty? %>
                        <div class="side-widget br-yellow">
                          <h4>服务费用包含</h4>
                          <div class="widget-content">
                            <ol>
                              <% pkg_incls.each do |i| %>
                              <li><%= i %></li>
                              <% end %>
                            </ol>
                          </div>
                        </div>
                        <% end %>
                        <!-- Third -->
                        <% pkg_excls = @tour.exclude.split(/[；;]\s*\d+\.?、?/).compact %>
                        <% if !pkg_excls.empty? %>
                        <div class="side-widget br-pink">
                          <h4>服务费用不包含</h4>
                          <div class="widget-content">
                            <ol>
                              <% pkg_excls.each do |i| %>
                              <li><%= i %></li>
                              <% end %>
                            </ol>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
      
      <!-- Inner Page Content // End -->
      
      <!-- Footer Start -->
      
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!-- Footer Widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h5><i class="fa fa-location-arrow br-lblue"></i> Location</h5>
                <!-- Google Map -->
                <div class="map">
                  <!-- Image -->
                  <img src="/img/map.png" class="img-responsive" alt="" />
                  <!-- Map Marker -->
                  <i class="fa fa-map-marker marker india lblue"></i>
                  <i class="fa fa-map-marker marker usa orange"></i>
                  <i class="fa fa-map-marker marker africa green"></i>
                </div>
                <span class="location-name">
                  <i class="fa fa-map-marker br-lblue"></i> India &nbsp;&nbsp;
                  <i class="fa fa-map-marker br-orange"></i> USA &nbsp;&nbsp;
                  <i class="fa fa-map-marker br-green"></i> Africa
                </span>
              </div>
            </div>
          </div>
          <!-- Footer Copyright -->
          <div class="footer-copyright">
            <p>&copy; Copyright 2014 <a href="#">UTOUR 众信旅游微信</a></p>
          </div>
        </div>
      </div>
      
      <!-- Footer End -->
      
 
    <!-- Footer End -->
    
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 

    
    
    
    
    <script type="text/javascript" >
      /* prettyPhoto Gallery */

      jQuery(".prettyphoto").prettyPhoto({
        overlay_gallery: false, social_tools: false
      });
    
      /* Isotype */

      // cache container
      var $container = $('#portfolio');
      // initialize isotope
      $container.isotope({
        // options...
      });
      
      // filter items when filter link is clicked
      $('#filters a').click(function(){
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector });
        return false;
      });       
      // Type your codde here
    </script>
  </body> 
</html>