<script>
function new_user_group(parent_id, parent_text){
  $('#new_user_group_modal').modal('show');
  $('#user_group_parent_id').val(parent_id);
  $('#user_grou_text').html(parent_text)
}
</script>
<div class="row" style="margin:0">
  <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> 
    客户权限管理
  </h1>
</div>

<div id="user_group_index"></div>

<!-- Modal -->
<div class="modal fade" id="new_user_group_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="modal-1">
          <%= image_tag "plateform_logo_dark.png", alt: "picture", width: "150" %>
        </h4>
      </div>
      <div class="modal-body no-padding">

        <%= form_for [:admin, UserGroup.new], :remote => true, :html => {:role => "form", :class => "smart-form", :id => 'new_user_group_form',  :'data-type' => 'json'} do |f| %>

        <fieldset>
          <section>
            <div class="row">
              <%= f.label :parent_id, '上层用户组', :class => "label col col-2" %>
              <div class="col col-10">
                <label class="input"></i>
                  <%= f.number_field :parent_id, :value => params[:parent_id], class: "form-control" %>
                  <p id="user_grou_text"><%= UserGroup.find_by_id(params[:parent_id]).name unless UserGroup.find_by_id(params[:parent_id]).nil? %></p>
                </label>
              </div>
            </div>
          </section>

          <section>
            <div class="row">
              <%= f.label :name, '用户组名', :class => "label col col-2" %>
              <div class="col col-10">
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <%= f.text_field :name, :placeholder => "用户组名不能重复" %>
                </label>
              </div>
            </div>
          </section>
          <div class="modal_form_errors"></div>
        </fieldset>

        <footer>
          <%= f.submit "新建", :class => "btn btn-primary" %>

          <button type="button" class="btn btn-default" data-dismiss="modal">
            取消
          </button>

        </footer>
        <% end %>


        





        

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">


$(document).ready(function(){
  function reload_user_group_table(){
    $.ajax({
      type : "GET",
      url: '/admin/user_groups.js',
      success: function(data) {

      }
    });
  }

  reload_user_group_table();

  $( document ).ajaxStop(function() {

    if ( $('#new_user_group_form').length )
    {

      $('#new_user_group_form').bind("ajax:beforeSend", function(evt, xhr, settings){

      //alert("beforeSend !");


      }).bind("ajax:success", function(evt, data, status, xhr){

      //alert("success !");
      $('#new_user_group_form').find('input:text, input:password, input:file, select, textarea').val('');
      $('#new_user_group_form').find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
      $('#new_user_group_modal').modal('hide');
      $('.alert alert-danger').html('');
      reload_user_group_table();

      }).bind('ajax:complete', function(evt, xhr, status){

      //alert("complete !");

      }).bind("ajax:error", function(evt, xhr, status, error){
      //alert("error!")
        var responseObject = $.parseJSON(xhr.responseText),
        errors = $('<div class="alert alert-danger" style="padding-left:5px"><ul>');

        $.each(responseObject, function(){
          errors.append('<li>' + this + '</li>');
        })
        errors.append('</ul></div>')

        $(this).find('.modal_form_errors').html(errors);

      });

    }
    
  });
  
});


</script>