<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blueDark" id="invitation_code_table" data-widget-editbutton="false">
  <%# widget options:

  usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
        
  data-widget-colorbutton="false"
  data-widget-editbutton="false"
  data-widget-togglebutton="false"
  data-widget-deletebutton="false"
  data-widget-fullscreenbutton="false"
  data-widget-custombutton="false"
  data-widget-collapsed="true"
  data-widget-sortable="false"
        
  %>
  <header>
   <span class="widget-icon"> <i class="fa fa-table"></i> </span>
   <h2>注册码列表 </h2>

  </header>
 
  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
    <!-- This area used as dropdown edit box -->

    </div><!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">
      <div id="invitation_code_index"></div>
    </div><!-- end widget content -->

  </div><!-- end widget div -->

</div><!-- end widget -->

<!-- Button trigger modal -->
<a data-toggle="modal" href="#new_invitation_code_form_modal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i>新建邀请码</a>

<!-- Modal -->
<div class="modal fade" id="new_invitation_code_form_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="modal-1">
          <%= image_tag "plateform_logo_dark.png", alt: "picture", width: "150" %>
        </h4>
      </div>
      <div class="modal-body no-padding">

        <%= form_for :invitation_code, url: admin_invitation_codes_path, :remote => true, :html => {:role => "form", :id => 'xform', :class => "smart-form", :'data-type' => 'json'} do |f| %>
        <fieldset>
          <section>
            <div class="row">
              <%= f.label :user_class_id, '用户类型', :class => "label col col-2" %>
              <div class="col col-10">
                <label class="input">
                  <%= f.collection_select(:user_class_id,  @user_classes, :id, :name, { :prompt   => "选择用户类型" }, { :class => 'form-control'}) %>
                </label>
              </div>
            </div>
          </section>

          <section>
            <div class="row">
              <%= f.label :user_group_id, '用户行政权限', :class => "label col col-2" %>
              <div class="col col-10">
                <label class="input">
                  <%= f.collection_select(:user_group_id,  @user_groups, :id, :name, { :prompt   => "选择用户行政权限" }, { :class => 'form-control'}) %>
                </label>
              </div>
            </div>
          </section>

          <section>
            <div class="row">
              <%= f.label :sale_channel_id, '用户渠道', :class => "label col col-2" %>
              <div class="col col-10">
                <label class="input">
                  <%= f.collection_select(:sale_channel_id,  @sale_channels, :id, :name, { :prompt   => "选择用户渠道" }, { :class => 'form-control'}) %>
                </label>
              </div>
            </div>
          </section>


        </fieldset>

        <footer>
          <%= f.submit "新建", :class => "btn btn-primary" %>

          <button type="button" class="btn btn-default" data-dismiss="modal">
            取消
          </button>

        </footer>
        <% end %>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">


$(document).ready(function(){
  function reload_invitation_code_table(){
    $.ajax({
      type : "GET",
      url: '/admin/invitation_codes.js?type=self',
      success: function(data) {

      }
    });
  }

  reload_invitation_code_table();

  $( document ).ajaxStop(function() {

    if ( $('#xform').length )
    {

      $('#xform').bind("ajax:beforeSend", function(evt, xhr, settings){

      //alert("beforeSend !");


      }).bind("ajax:success", function(evt, data, status, xhr){

      //alert("success !");
      $('#xform').find('input:text, input:password, input:file, select, textarea').val('');
      $('#xform').find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
      $('#new_invitation_code_form_modal').modal('hide');
      reload_invitation_code_table();


      }).bind('ajax:complete', function(evt, xhr, status){

      //alert("complete !");

      }).bind("ajax:error", function(evt, xhr, status, error){
      alert("error!")

      });

    }
    
  });
  


});

</script>