<%#= render partial: "admin/tours/form" %>

<!-- widget grid -->
<section id="widget-grid" class="">

	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false">

				<header>
					<h2>开团流程</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body fuelux">

						<div class="wizard">
							<ul class="steps">
								<li data-target="#step1" class="active">
									<span class="badge badge-info">1</span>新建团队<span class="chevron"></span>
								</li>
								<li data-target="#step2">
									<span class="badge">2</span>设计行程<span class="chevron"></span>
								</li>
								<li data-target="#step3">
									<span class="badge">3</span>附属设定<span class="chevron"></span>
								</li>
								<li data-target="#step4">
									<span class="badge">4</span>完成<span class="chevron"></span>
								</li>
								<!-- <li data-target="#step5">
									<span class="badge">5</span>完成<span class="chevron"></span>
								</li> -->
							</ul>
							<div class="actions">
								<button type="button" class="btn btn-sm btn-primary btn-prev">
									<i class="fa fa-arrow-left"></i>上一步
								</button>
								<button type="button" class="btn btn-sm btn-success btn-next" data-last="提交">
									下一步<i class="fa fa-arrow-right"></i>
								</button>
							</div>
						</div>
						<div class="step-content">

							<%= nested_form_for [:admin, @tour], :html => {:role => "form", :id => 'new_tour_form', :class => "form-horizontal"} do |f| %>
							<div class="step-pane active" id="step1">
								<h3><strong>第 1 步 </strong> - 团队基本信息</h3>

								<fieldset>

									<section>
										<div class="form-group">
											<%= f.label :flights, '航班', :class => "col-md-2 control-label" %>
											<div class="col-md-10">
												<div class="input-group">
													<%= f.text_field :flights, class: "form-control" %>
													<span class="input-group-addon"><i class="fa fa-plane"></i></span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<%= f.label :name, '团队名称', :class => "col-md-2 control-label" %>
											<div class="col-md-10">
												<div class="input-group">
													<%= f.text_field :name, class: "form-control" %>
													<span class="input-group-addon"><i class="fa fa-flag"></i></span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<%= f.label :description, '团队简介', :class => "col-md-2 control-label" %>
											<div class="col-md-10">
												<div class="input-group">
													<%= f.text_area :description, :rows => 3, class: "form-control" %>
													<span class="input-group-addon"><i class="fa fa-warning"></i></span>
												</div>
											</div>
										</div>

                    <div class="form-group">
                      <%= f.label :expire_date, '有效期截止日期', :class => "col-md-2 control-label" %>
                      <div class="col-md-10">
                        <div class="input-group">
                          <%= f.date_field :expire_date, class: "form-control" %>
                          <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                        </div>
                      </div>
                    </div>


                  </section>

                </fieldset>

                <fieldset>
                 <section>
                  <div class="form-group">
                   <%= f.label :sale_channel_id, '销售渠道', :class => "col-md-2 control-label" %>
                   <div class="col-md-10">
                    <div class="input-group">
                     <%= f.collection_select(:sale_channel_id,  SaleChannel.all, :id, :name, { :prompt   => "选择渠道" }, { :class => 'form-control'}) %>
                     <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                   </div>
                 </div>
               </div>

               <div class="form-group">
                 <%= f.label :tour_type, '销售标签', :class => "col-md-2 control-label" %>
                 <div class="col-md-10">
                  <div class="input-group">
                   <%= f.text_field :tour_type, :placeholder => "目前只支持手工收入标签, 不同标签请用空格隔开, 如 \"日本 夕阳红 大城小镇\", 不能识别的名字将自动忽略", class: "form-control" %>
                   <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                 </div>
               </div>
             </div>
           </section>
         </fieldset>

         <fieldset>
          <div class="form-group">
            <%= f.label :cover_img_id, '封面图片', :class => "col-md-2 control-label" %>
            <div class="col-md-10">
              <div class="input-group">
                <%= f.collection_select(:cover_img_id,  @covers, :id, :name, { :prompt   => "选择封面图片" }, { :class => 'form-control' }) %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :icon_img_id, '封面图标', :class => "col-md-2 control-label" %>
            <div class="col-md-10">
              <div class="input-group">
                <%= f.collection_select(:icon_img_id,  @icons, :id, :name, { :prompt   => "选择封面图标" }, { :class => 'form-control' }) %>
              </div>
            </div>
          </div>
        </fieldset>

      </div>

      <div class="step-pane" id="step2">
        <h3><strong>第 2 步 </strong> - 设计行程</h3>

        <%= f.fields_for :days do |day| %>
        <fieldset>

         <div class="form-group">
          <%= day.label :number, '天数', :class => "col-md-2 control-label" %>
          <div class="col-md-10">
           <div class="input-group">
            <%= day.text_field :number, class: "form-control", placeholder: "填入第几天(非常重要)" %>
            <span class="input-group-addon" style="background-color: #ee1111"><%= day.link_to_remove "点我删除", data: { confirm: "删除该天将同时删除该天所有的活动?" }, style: "color: white; text-decoration:none;" %></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
         <div class="well well-sm">
          <%= day.fields_for :activities do |activity| %>
          <div class="day_root">
           <div class="form-group">
            <%= activity.label :time, '活动时间', :class => "col-md-2 control-label" %>
            <div class="col-md-10">
             <div class="input-group">
              <%= activity.text_field :time, class: "form-control", placeholder: "非常重要 - 不填写次活动将不保存", onmouseover: "$(this).clockface({format: 'H:mm'});" %>
              <span class="input-group-addon" style="background-color: #ee1111"><%= activity.link_to_remove "删除本活动", data: { confirm: "确定要删除该活动?" }, style: "color: white; text-decoration:none;" %></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= activity.label :active_type, '活动类型', :class => "col-md-2 control-label" %>
          <div class="col-md-10">
           <div class="input-group">
            <%= activity.select :active_type, "<option value='1'>景点</option><option value='2'>交通</option><option value='3'>购物</option><option value='4'>吃饭</option>".html_safe, {}, { class: "form-control" } %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= activity.label :site_id, '景点', :class => "col-md-2 control-label" %>
        <div class="col-md-10">
         <div class="input-group">
          <%= activity.collection_select(:site_id,  @sites, :id, :name, { :prompt   => "选择景点" }, { :class => 'form-control', :id => "#{activity.object_id}", :onchange => "init_image_select(this)"}) %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= activity.label :image_id, '图片', :class => "col-md-2 control-label" %>
      <div class="col-md-10">
       <div class="input-group">

        <%= activity.collection_select(:image_id,  Array.new, :id, :name, { :prompt   => "请先选择景点" }, { :class => 'form-control site_select', :onchange => ""}) %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= activity.label :short_des, '活动简短描述', :class => "col-md-2 control-label" %>
    <div class="col-md-10">
     <div class="input-group">
      <%= activity.text_area :short_des, class: "form-control short_des", placeholder: "非常重要", rows: 3 %>
      <span class="input-group-addon" ><i class="fa fa-warning"></i></span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= activity.label :full_des, '景点详细描述', :class => "col-md-2 control-label" %>
  <div class="col-md-10">
   <div class="input-group">
    <%= activity.text_area :full_des, class: "form-control full_des", placeholder: "非常重要", rows: 5 %>
    <span class="input-group-addon" ><i class="fa fa-warning"></i></span>
  </div>
</div>
</div>

</div>
<hr />
<% end %>
<%= day.link_to_add "添加新活动", :activities, class: "btn btn-success btn-sm" %>
</div>

</div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">餐饮描述</label>
  <div class="col-md-10">
   <div class="row">
    <div class="col-md-4">
     <div class="input-group">
      <%= day.text_field :breakfast, placeholder: "早餐 - 不填视为不含", class: "form-control" %>
      <span class="input-group-addon"><i class="fa fa-warning"></i></span>
    </div>
  </div>

  <div class="col-md-4">
   <div class="input-group">
    <%= day.text_field :lunch, placeholder: "午餐 - 不填视为不含", class: "form-control" %>
    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
  </div>
</div>

<div class="col-md-4">
 <div class="input-group">
  <%= day.text_field :dinner, placeholder: "晚餐 - 不填视为不含", class: "form-control" %>
  <span class="input-group-addon"><i class="fa fa-warning"></i></span>
</div>
</div>

</div>
</div>
</div>

<div class="form-group">
  <%= day.label :title, '标题', :class => "col-md-2 control-label" %>
  <div class="col-md-10">
   <div class="input-group">
    <%= day.text_field :title, placeholder: "例如: 成都 飞 东京, 留空则自动生成", class: "form-control" %>
    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
  </div>
</div>
</div>

<div class="form-group">
  <%= day.label :itinerary, '行程描述', :class => "col-md-2 control-label" %>
  <div class="col-md-10">
   <div class="input-group">
    <%= day.text_area :itinerary, rows: 5, placeholder: "注意: 此处留空电脑将在存储后据所添加的活动自动生成行程描述。您随后可在修改行程选项中修改。如果现在输入行程则电脑不会再自动排行程。", class: "form-control" %>
    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
  </div>
</div>
</div>				

<div class="form-group">
  <%= day.label :accommodation, '住宿描述', :class => "col-md-2 control-label" %>
  <div class="col-md-10">
   <div class="input-group">
    <%= day.text_field :accommodation, placeholder: "例如: 滨松格兰酒店或同级", class: "form-control" %>
    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
  </div>
</div>
</div>


</fieldset>
<hr />
<% end %>
<%= f.link_to_add "加一天", :days, class: "btn btn-success" %>
</div>

<div class="step-pane" id="step3">
  <h3><strong>第 3 步 </strong> - 附属条款设定</h3>							

  <div class="form-group">
   <%= f.label :include, '行程包括的内容', :class => "col-md-2 control-label" %>
   <div class="col-md-10">
    <div class="input-group">
     <%= f.text_area :include, class: "form-control" %>
     <span class="input-group-addon"><i class="fa fa-warning"></i></span>
   </div>
 </div>
</div>

<div class="form-group">
 <%= f.label :exclude, '行程不包括的内容', :class => "col-md-2 control-label" %>
 <div class="col-md-10">
  <div class="input-group">
   <%= f.text_area :exclude, class: "form-control" %>
   <span class="input-group-addon"><i class="fa fa-warning"></i></span>
 </div>
</div>
</div>

<div class="form-group">
 <%= f.label :transportations, '交通工具', :class => "col-md-2 control-label" %>
 <div class="col-md-10">
  <div class="input-group">
   <%= f.text_area :transportations, class: "form-control" %>
   <span class="input-group-addon"><i class="fa fa-warning"></i></span>
 </div>
</div>
</div>

<div class="form-group">
 <%= f.label :notes, '注意事项', :class => "col-md-2 control-label" %>
 <div class="col-md-10">
  <div class="input-group">
   <%= f.text_area :notes, class: "form-control" %>
   <span class="input-group-addon"><i class="fa fa-warning"></i></span>
 </div>
</div>
</div>

<div class="form-group">
 <%= f.label :visa, '签证须知', :class => "col-md-2 control-label" %>
 <div class="col-md-10">
  <div class="input-group">
   <%= f.text_area :visa, class: "form-control" %>
   <span class="input-group-addon"><i class="fa fa-warning"></i></span>
 </div>
</div>
</div>

</div>



<div class="step-pane" id="step4">
  <h3><strong>第 4 步 </strong> - 完成</h3>
  <br>
  <br>
  <h1 class="text-center text-success"><i class="fa fa-check"></i> 点击下一步提交更改
   <br>
   <small>或者点击上一步审核输入的信息</small></h1>
   <br>
   <br>
   <br>
   <br>
 </div>
 <% end %>






</div>

</div>
<!-- end widget content -->

</div>
<!-- end widget div -->

</div>
<!-- end widget -->

</article>
<!-- WIDGET END -->
</div>

</section>
<!-- end widget grid -->

<script type="text/javascript">
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

	// PAGE RELATED SCRIPTS

	/*
	 * Load fuelux wizard dependency
	 */
	 loadScript("javascripts/plugin/fuelux/wizard/wizard.js", fueluxWizard);

	 function fueluxWizard() {
	 	var $validator = $("#new_tour_form").validate({

	 		rules: {
	 			"tour[name]": {
	 				required: true
	 			},
	 			"tour[description]": {
	 				required: true
	 			},
        "tour[expire_date]": {
          required: true
        }
	 		},

	 		messages: {
	 			"tour[name]": "请输入团队名称",
	 			"tour[description]": "请输入团队简介",
        "tour[expire_date]": "请输入截止日期"

	 		},

	 		highlight: function (element) {
	 			$(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	 		},
	 		unhighlight: function (element) {
	 			$(element).closest('.form-group').removeClass('has-error').addClass('has-success');
	 		},
	 		errorElement: 'span',
	 		errorClass: 'help-block',
	 		errorPlacement: function (error, element) {
	 			if (element.parent('.input-group').length) {
	 				error.insertAfter(element.parent());
	 			} else {
	 				error.insertAfter(element);
	 			}
	 		}
	 	});

	 	var wizard = $('.wizard').wizard();
	 	wizard.on('change', function (event, data) {
	 		if (! $("#new_tour_form").valid() ) {
	 			validator.focusInvalid();
	 			event.preventDefault;
	 		}
	 		else{
	 		}

	 	});

	 	wizard.on('finished', function (e, data) {
	 		$("#new_tour_form").submit();
	    //console.log("submitted!");
	    $.smallBox({
	    	title: "Congratulations! Your form was submitted",
	    	content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
	    	color: "#5F895F",
	    	iconSmall: "fa fa-check bounce animated",
	    	timeout: 4000
	    });
	    
   });

	 }

	 function init_image_select (select) {
	 	$.ajax({
	 		type: "GET",
	 		url: "<%= admin_get_image_list_by_site_id_path %>",
	 		data: {
	 			id : select.value,
	 			select_id : select.id
	 		},
	 		dataType: "json",
	 		success : function(data) {
	 			$(select).closest('.day_root').find('.site_select').html(data.options).imagepicker({ hide_select : true });
	 			$(select).closest('.day_root').find('.short_des').text(data.short_des);
	 			$(select).closest('.day_root').find('.full_des').text(data.full_des);

	 		},    
	 		error : function() {   
	 			alert("网络错误: 无法获取图片！");   
	 		}
	 	});
	 }


	 $(document).ready(function() {
	 	$('.site_select').imagepicker({ hide_select : true });

	 });
	 </script>
