<% content_for :left_links do %>
<% render "left_links" %>
<% end %>



<div class="container lion">
  <div class="head">
    <%= image_tag "legacy/carousel/le_0.jpg", alt: "picture", style: "width:100%" %>
  </div>




  <div class="group_travel_menu">
    <% if !@root["members"].empty? %>
    <div id="<%= @root["members"].object_id %>" class="accordion-group panel-group">

      <% @root["members"].each do |one| %><!-- level one loop -->
      <% @set.push one["name"] %>
      <div class="panel panel-primary">
        <div class="panel-heading whole_heading_link">
          <a data-toggle="collapse" data-parent="#<%= @root["members"].object_id %>" href="#<%= one.object_id %>">
            <h2 class="panel-title">
              <%= one["name"] %>
            </h2>
          </a>
        </div>
        <div id="<%= one.object_id %>" class="panel-collapse collapse">
          <div class="panel-body menu_body_1" style="padding: 5px">

            <% if !one["members"].empty? %>
            <div id="<%= one["members"].object_id %>" class="panel-group">

              <% one["members"].each do |two| %><!-- level two loop -->
              <% @set.push two["name"] %>
              <div class="panel panel-success">
                <div class="panel-heading whole_heading_link">                  
                  <a data-toggle="collapse" data-parent="#<%= one["members"].object_id %>" href="#<%= two.object_id %>">
                    <h3 class="panel-title">
                      <%= two["name"] %>                    
                    </h3>
                  </a>
                </div>
                <div id="<%= two.object_id %>" class="panel-collapse collapse">
                  <div class="panel-body menu_body_2" style="padding: 0">
                    <%# 除去不符合标签的团队 %>
                    <% tours = @tours.select { |tour| (@set & tour.tour_type.split) == @set } %>
                    
                    <%# 除去没有权限查看的团队 %>
                    <% array = [] %>
                    <% tours.each do |tour| %>

                    <% if tour.sale_channel_id == current_user.sale_channel_id || SaleChannelMap.where(up: tour.sale_channel_id, down: current_user.sale_channel_id).count > 0 %>

                    <%# puts ">> #{tour.name} >> #{tour.sale_channel_id} >>>>>>>>>>>> #{current_user.sale_channel_id} >>>>>>>>> OK" %>
                    <% array.push tour %>
                    <% end # end if %>

                    <% end # end each %>
                    <% tours = array %>


                    <% if !tours.empty? %>
                    <%= render partial: 'tour_list', locals: { tours: tours } %>
                    <% else %>
                    暂无
                    <% end %>

                  </div>
                </div>
              </div>
              <% @set.pop %>          
              <% end %><!-- end level two loop -->

            </div>
            <% else %>
            <% tours = @tours.select { |tour| (@set & tour.tour_type.split) == @set } %>
            <% if !tours.empty? %>
            <%= render partial: 'tour_list', locals: { tours: tours } %>
            <% else %>
            暂无
            <% end %>

            <% end %>
          </div>
        </div>
      </div>
      <% @set.pop %>
      <% end %><!-- end level one loop -->

    </div>
    <% else %>
    <h3>本业没有内容</h3>
    <% end %>
  </div>