<% content_for :stylesheet do %>
<%= stylesheet_link_tag "metro-bootstrap", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "lion", media: "all", "data-turbolinks-track" => true %>
<% end %>

<div class="container lion">

  <div class="head">
    <div id="legacy-home-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#legacy-home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#legacy-home-carousel" data-slide-to="1"></li>
        <li data-target="#legacy-home-carousel" data-slide-to="2"></li>
        <li data-target="#legacy-home-carousel" data-slide-to="3"></li>
        <li data-target="#legacy-home-carousel" data-slide-to="4"></li>
        <li data-target="#legacy-home-carousel" data-slide-to="5"></li>
        <li data-target="#legacy-home-carousel" data-slide-to="6"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "legacy/carousel/le_0.jpg", alt: "picture", style:"width:100%" %>
          <div class="carousel-caption">
            <h3>新西兰自驾游</h3>
          </div>
        </div>

        <div class="item">
          <%= image_tag "legacy/carousel/le_1.jpg", alt: "picture", style:"width:100%"%>
          <div class="carousel-caption">
            <h3>新西兰自驾游</h3>
          </div>
        </div>

        <div class="item">
          <%= image_tag "legacy/carousel/le_2.jpg", alt: "picture", style:"width:100%"%>
          <div class="carousel-caption">
            <h3>新西兰自驾游</h3>
          </div>
        </div>

        <div class="item">
          <%= image_tag "legacy/carousel/le_3.jpg", alt: "picture", style:"width:100%"%>
          <div class="carousel-caption">
            <h3>新西兰自驾游</h3>
          </div>
        </div>

        <div class="item">
          <%= image_tag "legacy/carousel/le_4.jpg", alt: "picture", style:"width:100%"%>
          <div class="carousel-caption">
            <h3>新西兰自驾游</h3>
          </div>
        </div>

        <div class="item">
          <%= image_tag "legacy/carousel/le_5.jpg", alt: "picture", style:"width:100%"%>
          <div class="carousel-caption">
            <h3>新西兰自驾游</h3>
          </div>
        </div>

        <div class="item">
          <%= image_tag "legacy/carousel/le_6.jpg", alt: "picture", style:"width:100%"%>
          <div class="carousel-caption">
            <h3>新西兰自驾游</h3>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#legacy-home-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#legacy-home-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>


  <div class="tile_menu">

    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5" style="padding: 5px; height: 100px">
        <div class="thumbnail tile tile-amethyst" style="width: 100%; height: 100%; margin: 0">
          <a href="/lion/group_travel" >
            <h1 class="tile_title">团队行程</h1>
            <i class="fa fa-users fa-3x" style="color: #fff"></i>
          </a>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4" style="padding: 5px; height: 100px">
        <div class="thumbnail tile tile-peter-river" style="width: 100%; height: 100%; margin: 0">
          <a href="lion/diy" >
            <h1 class="tile_title">自由行程</h1>
            <i class="fa fa-globe fa-3x" style="color: #fff"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 5px; height: 100px">
        <div class="thumbnail tile" style="background-color: #0000FF; width: 100%; height: 100%; margin: 0">
          <a href="/lion/visa" >
            <h1 class="tile_title">签证</h1>
            <i class="fa fa-clipboard fa-3x" style="color: #fff"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 0px">
      <div class="col-xs-7 col-sm-7 col-md-7" style="padding: 5px; height: 115px">
        <div class="thumbnail tile tile-orange" style="width: 100%; height: 100%; margin: 0">
          <a href="/lion/sale" >
            <h1 class="tile_title">精品推荐专区</h1>
            <i class="fa fa-shopping-cart fa-3x" style="color: #fff"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5" style="padding: 5px; height: 115px">
        <div class="thumbnail tile" style="background-color: white; width: 100%; height: 100%; margin: 0">
          <a>
            <%= image_tag "logo.png", alt: "", class: "menu_company_icon" %>
            <h1 style="color: #f39c12; font-size: 20px; margin: 0">我的众信</h1>
          </a>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 0px">
      <div class="col-xs-4 col-sm-4 col-md-4" style="padding: 5px; height: 100px">
        <div class="thumbnail tile tile-sun-flower" style="width: 100%; height: 100%; margin: 0">
          <a href="#" >
            <h1 class="tile_title">出行攻略</h1>
            <i class="fa fa-compass fa-3x fa-spin" style="color: #fff"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4" style="padding: 5px; height: 100px">
        <div class="thumbnail tile tile-carrot" style="width: 100%; height: 100%; margin: 0">
          <a href="/lion/trade" >
            <h1 class="tile_title">同业交流</h1>
            <i class="fa fa-comments fa-3x" style="color: #fff"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4" style="padding: 5px; height: 100px">
        <div class="thumbnail tile tile-pomegranate" style="width: 100%; height: 100%; margin: 0">
          <a href="/lion/contact" >
            <h1 class="tile_title">联系我们</h1>
            <i class="fa fa-envelope fa-3x" style="color: #fff"></i>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>