<% content_for :stylesheet do %>
<%= stylesheet_link_tag "wechat_webs", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :left_links do %>
<% render "left_links" %>
<% end %>

<div class="container lion">
  <div class="head">
    <%= image_tag "legacy/carousel/le_0.jpg", alt: "picture", style: "width:100%" %>
  </div>
  
  <div class="visa">
    <h2><span class="label label-info">亚洲</span></h4>
    <div class="row">

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/japan_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>日本国</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/korea_south_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>韩国</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/thailand_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>泰国</h3>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/singapore_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>新加坡</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/vietnam_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>越南</h3>
          </div>
        </div>
      </div>

    </div>

    <h2><span class="label label-warning">欧洲</span></h4>
    <div class="row">

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/france_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>法国</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/italy_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>意大利</h3>
          </div>
        </div>
      </div>

    </div>

    <h2><span class="label label-primary">美洲</span></h4>
    <div class="row">

      <div class="col-xs-4 col-sm-3 col-md-3">
        <div class="thumbnail">
          <%= image_tag "countries/united_states_of_america_glossy_square_icon_256.png", alt: "" %>
          <div class="caption">
            <h3>美国</h3>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>


