<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "UTOUR成都众信" %>">
  <title><%= content_for?(:title) ? yield(:title) : "UTOUR成都众信" %></title>
  <%= stylesheet_link_tag "front-end", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "front-end", media: "all", "data-turbolinks-track" => true %>
  <%= yield(:stylesheet) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/lion_nav" %>
  <div id="sb-site" class="container" style="background-color: #fff">
    <!-- Your main site content. -->
    <!-- Classes Examples -->
    
    <a id="top"></a>
    <%= yield %>
    <div class="copyright"  >出境旅游最佳品牌首选</div>
  </div>

  <div class="sb-slidebar sb-left">
    <!-- Your left Slidebar content. -->
    <%= render "layouts/lion_sidebar_left" %>
  </div>

  <div class="sb-slidebar sb-right">
    <!-- Your right Slidebar content. -->
    <%= render "layouts/lion_sidebar_right" %>
  </div>
</body>
<script>
(function($) {
  $(document).ready(function() {
    $.slidebars();
  });
}) (jQuery);
</script>
</html>